
.Navbar{
    display: flex;
    justify-content: center;
    height: 6vh;

}
ul{
    height: 100%;
}



li{   
    list-style-type: none;    
    margin-left: 1.8rem;
    height: 100%;
    padding-top: 0.7rem;
    
   

}
li:hover{
    background-color: #ace0f9;   
    
}
a:hover{
    color: black;    
}
a{
    text-decoration: none;
    color: white;
    font-family:'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 900;
    height: 100%;
    padding: 1.2rem;
}